@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
  margin: 0;
  padding: 0;
}
.homePage{
  background-color:rgb(245, 209, 4);
}
.main-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 2fr 2fr 0.3fr;
  grid-template-areas: 
  "nav nav"
  "content1 content2"
  "content3 content4"
  "content5 content5";
  justify-content: center;
}
nav{
  background-color: black;
  grid-area: nav;
}
.showModal{
  display: none; 
}
.hideModal{
  display: none;
}
nav .flash{
  color: rgb(245, 209, 4);
  font-family: 'Monoton', cursive;
}
.content1{
  background-color: rgb(250, 213, 7);
  grid-area: content1;
  margin: 100px 25px 50px 50px;
  box-shadow: 10px 5px 5px rgb(141, 120, 3);
  text-align: center;
}
.content1 .para{
  width: 450px;
  height: 500px;
  border: 3px solid black;
  margin: auto;
}
.content1 .word-trans{
  padding: 10px 50px;
  margin-top: 100px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600px;
  transition: 5s ease-in-out;
  animation: trans 5s linear 0.5s infinite alternate both;
}
@keyframes trans {
  from{ transform: translate(-50px)}
  to{ transform: translate(50px) }
}
.content1 .word-trans2{
  padding: 20px 50px;
  margin-top: 80px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600px;
  transition: 5s ease-in-out;
  animation: trans2 5s linear 5s infinite alternate both;
}
@keyframes trans2 {
  from{ transform: translate(-50px)}
  to{ transform: translate(50px)}
}

.content2{
  grid-area: content2;
  margin: 50px 50px 50px 25px;
}
.content3{
  background-color: rgb(24, 23, 22);
  grid-area: content3;
  margin: 50px 25px 50px 50px;
  
}
.content3 form{
  display: block;
}
.subContent3{
  max-width: 490px;
  margin: auto;
}
.subContent3 h2{
  margin-top: 40px;
  text-transform: capitalize;
  font-size: 30px;
  color: rgb(245, 209, 4);
}
.subContent3 h5{
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 500;
  font-family: monospace;
  color: rgb(245, 209, 4);
}
.subContent3 input{
  width: 470px;
  margin-bottom: 30px;
  padding: 20px 0 20px 10px;
  background-color: rgb(247, 239, 239);
  outline: none;
  border: none;
}
.subContent3 input:hover{
  border-right: 5px solid gold;
  border-bottom: 3px solid gold;
  transition: 0.2s ease-in-out;
}
.subContent3 textarea{
  width: 470px;
  height: 80px;
  background-color: rgb(247, 239, 239);
  outline: none;
  border: none;
  padding-left: 10px;
}
.subContent3 textarea:hover{
  border-right: 5px solid gold;
  border-bottom: 3px solid gold;
}
.subContent3 button{
  background-color: rgb(250, 213, 7);
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px 60px;
  outline: none;
  border: none;
}
.subContent3 button:hover{
  background-color: rgba(46, 42, 3, 0.3);
  color: gold;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
.content4{
  background-color: rgb(24, 23, 23);
  grid-area: content4;
  margin: 0 50px 100px 25px;
  box-shadow: -10px -5px 5px rgb(141, 120, 3);
}
.content4 h2{
  color: rgb(250, 213, 7);
  padding: 25px;
}
.content4 p{
  padding: 25px;
  color: white;
  font-size: 18px;
  font-family: monospace;
}
.content4 button{
  color: black;
  background-color: rgb(250, 213, 7);
  width: 200px;
  padding: 20px;
  margin-left: 25px;
  margin-top: 80px;
  border-radius: 30px 30px 30px 30px;
  outline: none;
  border: none;

}
.content4 button:hover{
  background-color:rgb(31, 30, 26);
  color: gold;
  font-size: 18px;
  box-shadow: 8px 5px 5px rgb(141, 120, 3);
  transition: .3s ease-in-out;

}
.content5{
  background-color: black;
  grid-area: content5;
}
.content5 p{
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  
}
.main-content nav ul{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.main-content nav ul li{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}
.main-content nav ul li a{
  color: rgb(250, 213, 7);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
}
.main-content nav ul li a:hover{
  background-color: rgb(250, 213, 7);
  color: black;
  transition: 0.5s ease-in;
}
.flash3{
  max-width: 600px;
  width: 100%;
  height: 500px;
  margin: auto;
}
/******signup styles******/
.signUp{
  background-color: rgb(0, 0, 0);
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
}
.logoStyle{
  display: grid;
  justify-content: center;
  align-content: center;
}
.logoStyle .eff{
  font-size: 100px;
  width: 100px;
  border: 10px solid rgba(252, 214, 2, 0.87); 
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgb(141, 120, 3), -5px 5px 10px rgb(141, 120, 3);
  text-align: center;
  color: gold;
}
.logoStyle .lash{
  width: 120px;
  text-align: center;
  color: gold;
}
.navigations{
  display: block;
  margin: auto;
}
.navigations button{
  width: 400px;
  padding: 15px 0 15px 0;
  margin-bottom: 12px;
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(190, 163, 5);
  border: none;
  outline: none;
  transition: transform 1s ease-in-out, background-color 0.5s ease-in-out;
  text-align: left;
}
.navigations button a{
  color: black;
  text-decoration: none;
}
.navigations button:hover{
  background-color: rgb(255, 218, 11);
  transform: translateX(5px);
  cursor: pointer;
}
.icon{
  font-size: 20px;
  padding-right: 10px;
  padding-left: 20px;
}
.signupUser{
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
}
.signupUser .logoStyle{
  align-content: flex-start;
  margin-top: 20px;
}
.formContainer{
  padding-bottom: 50px;
}
.formContainer input{
  margin: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 200px 12px 15px;
  background-color: black;
  color: gold;
  outline: none;
  font-size: 17px;
}
.messages{
  text-align: center;
  color: red;
}
.formContainer .btnCon{
  width: 250px;
  margin: auto;
  padding-top: 30px;
}
.formContainer .submit{
  border-radius: 20px;
  box-shadow: -5px -5px 5px rgb(141, 120, 3), 5px -5px 5px rgb(141, 120, 3);
  border: none;
  padding: 15px 100px 15px 100px;
  border-bottom: 1px solid goldenrod;
  background-color: rgb(0, 0, 0);
  color: gold;
  text-transform: capitalize;
  font-size: 20px;
}
.formContainer input::placeholder{
  color: rgb(141, 120, 3);
  font-size: 17px;
  text-transform: capitalize;
}
/***admin styles**/
.signAdmin{
  background-color: rgb(0, 0, 0);
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
}
.signAdmin .logoStyle{
    display: grid;
    justify-content: center;
    align-content: center;
}
.adminFormCon{
  margin: auto;
}
.adminFormCon input{
  display: block;
  padding: 15px 200px 15px 15px;
  border: none;
  border-bottom: 1px solid rgb(141, 120, 3);
  background-color: rgb(24, 23, 22);
  margin-bottom: 20px;
  color: gold;
  outline: none;
  font-size: 17px;
}
.adminFormCon input::placeholder{
  text-transform: capitalize;
}
.adminFormCon .btnCon{
  width: 250px;
  margin: auto;
  padding-top: 15px;
}
.adminFormCon .btnCon button{
  padding: 15px 100px;
  text-transform: capitalize;
  background-color: gold;
  outline: none;
  border: none;
  border-radius: 20px;
}

/***login styles***/
.login{
  background-color: rgb(0, 0, 0);
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
}
.loginCon{
  width: 420px;
  margin: auto;
}
.loginCon input{
  display: block;
  padding: 10px 200px 10px 15px;
  margin-bottom: 20px;
  background-color: rgb(88, 76, 3);
  font-size: 18px;
  color: black;
  outline: none;
  border: none;
}
.loginCon input::placeholder{
  color:rgb(0, 0, 0)
}
.loginCon input:hover{
  background-color: rgb(245, 209, 4);
}
.loginCon .loginSign{
  color: gold;
  padding: 5px 0;
}
.loginCon .loginSign a{
  color: rgb(124, 106, 3);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.loginBtn{
  width: 180px;
  margin: auto;
  padding-top: 30px;
}
.loginBtn button{
  padding: 10px 80px 10px 80px;
  background-color: rgb(245, 209, 4);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.loginBtn button:hover{
  background-color: rgb(141, 120, 3);
}
.loginBtn button:active{
  background-color: rgb(190, 163, 5);
}
/***user profile styles***/
.userProfile{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
.userProfile .logoStyle{
  margin-top: 20px;
}
.userProfile .sectionA{
  background-color: black;
}
.sectionA h2{
  color: rgb(124, 106, 2);
  margin-top: 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sectionA .details ul{
  margin-top: 50px;
  padding: 10px 40px;
}
.sectionA .details ul li{
   color: rgb(253, 217, 14);
   list-style-type:circle;
   padding: 15px 10px;
   text-transform: capitalize;
   font-size: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 600px;
}
.sectionA .orderBtn{
  margin-top: 60px;
}
.sectionA .logout{
  margin-bottom: 50px;
}
.sectionA button{
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 15px;
   width: 350px;
   padding: 15px 0 15px 0;
   text-align: center;
   text-transform: uppercase;
   background-color: rgba(163, 139, 4, 0.87);
   border: none;
   outline: none;
   cursor: pointer;
}
.sectionA button:hover{
  background-color: rgb(253, 217, 14);
  transition: .3s ease-in-out;
}
.sectionA button:active{
    background-color: rgb(66, 54, 1);
    transition: .2s ease;
}
.userProfile .sectionB{
  background-color: rgb(245, 209, 4);
}
.sectionB .table{
  width: 900px;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
}
.table thead tbody th td{
   border-collapse: collapse;
}
.table tbody td{
  font-size: 12px;
}
.table th{
  text-transform: capitalize;
}
.table .orderId{
  width: 150px;
}
.table .edit{
  width: 30px;
}
.table .cancel{
  width: 45px;
}
.noOfOthers{
  font-weight: bolder;
  font-size: 25px;
}
.parcelMsg{
  color: black;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}
.userBTn{
  background-color: rgb(245, 209, 4);
  border: none;
  cursor: pointer;
}
.theadHide{
  display: none;
}
/***admin profile styles**/
.adminProfile{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 1fr;
}
.adminProfile .sectionA{
  background-color: black;
}
.adminProfile .sectionB{
  background-color: rgb(250, 213, 7);
}
.adminProfile .logout{
  text-align: center;
  width: 200px;
  margin: auto;
  margin-top: 60px;
}
.adminProfile .logout button{
  width: 190px;
  background-color: black;
  border: none;
  border-radius: 20px;
  color: rgb(250, 213, 7);
  padding: 15px 0 15px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.adminProfile .logout button:hover{
  background-color: rgb(68, 56, 6);
  transition: all .4s ease-in-out;
}
.adminProfile .logout button:active{
  background-color: black;
  transition: .2s ease;
}
.adminProfile .logoStyle{
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
}
.adminProfile .logoStyle .eff{
  font-size: 100px;
  width: 100px;
  border: 10px solid rgba(0, 0, 0); 
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgb(22, 20, 11), -5px 5px 10px rgb(22, 20, 11);
  text-align: center;
  color: black;
}
.adminProfile .logoStyle .lash{
  width: 120px;
  text-align: center;
  color: black;
}
.adminProfile .admin{
  margin-top: 50px;
}
.adminProfile h2{
  text-align: center;
  font-family: 'Monoton';
  color:rgb(0, 0, 0, 0.7)
}
.adminProfile span{
  margin: auto;
  font-family: 'Monoton';
  color:rgb(0, 0, 0, 0.7);
}
.adminProfile .adminTable{
  border-collapse: collapse;
  border-color: rgb(245, 209, 4);
  color: rgb(134, 115, 8)
}
.adminTable thead th{
  width: 150px;
  text-transform: capitalize;
}
.adminTable tbody td{
  text-align: center;
  color: rgb(250, 213, 7);
  height: 30px;
}
.adminTable .btnBtnAdmin{
  width: 50px;
  margin: auto;
  background-color: black;
}

.adminTable .locationBtn{
  background-color: black;
  width: 100px;
  color: gold;
}
.adminTable .locationBtn:hover{
  color: black;
}
.adminTable .edit{
  width: 20px;
}
.adminTable .trash{
  width: 20px;
}

/******create order styles******/
.createOrder{
  background-image: linear-gradient(360deg, gold, black);
  min-height: 100vh;
}
.createOrder .logoStyle{
  padding-top: 20px;
}
.createOrder .orderContainer{
   width: 430px;
   margin: auto;
   margin-top: 40px;
}
.createOrder .orderContainer input{
   width: 430px;
   display: block;
   padding: 15px 10px;
   background-color: rgb(223, 215, 215);
   color: black;
   border: none;
   outline: none;
   margin-bottom: 10px;
   margin-top: 10px;
   font-size: 16px;

}
.createOrder .orderContainer input:hover{
   border-left: 5px solid gold;
   border-bottom: 2px solid gold;
   transition: .2s ease-in-out;
}
.amountText{
  text-align: center;
}
.btn-btn-con{
  width: 210px;
  margin: auto;
  margin-top: 20px;
}
.orderSubmit{
  width: 200px;
  text-align: center;
  text-transform: capitalize;
  background-color: rgb(124, 106, 3);
  padding: 15px 15px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 20px;
}
.orderSubmit:hover{
  background-color: black;
  color: rgb(124, 106, 2);
  transition: .3s ease-in-out;
}
@media screen and (max-width: 960px) {
  .main-content{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 100px 500px 600px 600px 1fr 150px;
    grid-template-areas: 
    "nav"
    "content2"
    "content1"
    "content4"
    "content3"
    "content5";
    justify-content: center;
  }
  .content1{
    background-color: rgb(250, 213, 7);
    grid-area: content1;
    margin: 25px 25px 50px 50px;
    box-shadow: 10px 5px 5px rgb(141, 120, 3);
    text-align: center;
  }
  .content1 .para{
    width: 650px;
    height: 445px;
    border: 3px solid black;
    margin: auto;
  }
  .content2{
    margin: 50px 25px 25px 50px;
  }
  .content3{
    margin: 25px 25px 50px 50px;
    
  }
  .content4{
    background-color: rgb(24, 23, 23);
    grid-area: content4;
    margin: 0 25px 25px 50px;
    box-shadow: -10px -5px 5px rgb(141, 120, 3);
  }
  .flash3{
    max-width: 812px;
    width: 100%;
    height: 424px;
  }
  nav .flash{
    text-align: center;
  }

}
.faBar{
  color: rgb(245, 209, 4);
  display: none;
  font-size: 25px;
}
@media screen and (max-width: 906px){
  nav{
    display: flex;
    justify-content: center;
  }
  .faBar{
    display: block;
    margin-top: 8px;
    padding-left: 30px;
    cursor: pointer;
  }
  nav ul li{
    display: none;
  }
  .showModal{
    display: block;
    background-color: rgba(27, 25, 25, 0.8);
    position: fixed;
    top: 0px;
    left: 10px;
    padding: 20px 50px;
  }
  .showModal ul li{
     list-style-type: none;
     padding: 5px 0;
  }
  .showModal ul li a:hover{
    background-color: rgb(250, 213, 7);
    color: black;
    transition: 0s;
  }
  .showModal ul li a{
     text-decoration: none;
     font-size: 20px;
     text-transform: capitalize;
     color:rgb(250, 213, 7);
     padding: 5px 15px
  }
  .hideModal{
    display: none;
  }

}
@media screen and (max-width: 600px) {
  .content1 .para{
    width: 450px;
    height: 445px;
    border: 3px solid black;
    margin: auto;
  }
  .subContent3{
    max-width: 450px;
  }
  .subContent3 input{
    width: 440px;
  }
  .subContent3 textarea{
    width: 440px;
  }

}